<img src="http://dask.readthedocs.io/en/latest/_images/dask_horizontal.svg"
     align="right"
     width="30%"
     alt="Dask logo\">

This notebook is based on the [Dask tutorial](http://tutorial.dask.org/) and [Dask documentation](http://dask.pydata.org/en/latest/).

# Dask DataFrames


## When to use `dask.dataframe`

Pandas is great for tabular datasets that fit in memory. Dask becomes useful when the dataset you want to analyze is larger than your machine's RAM. The demo dataset we're working with is only about 200MB, so that you can download it in a reasonable time, but `dask.dataframe` will scale to  datasets much larger than memory.

## What is `dask.dataframe`?

The `dask.dataframe` module implements a blocked parallel `DataFrame` object that mimics a large subset of the Pandas `DataFrame` API. One Dask `DataFrame` is comprised of many in-memory pandas `DataFrames` separated along the index. One operation on a Dask `DataFrame` triggers many pandas operations on the constituent pandas `DataFrame`s in a way that is mindful of potential parallelism and memory constraints.

**Related Documentation**

* [DataFrame documentation](https://docs.dask.org/en/latest/dataframe.html)
* [DataFrame screencast](https://youtu.be/AT2XtFehFSQ)
* [DataFrame API](https://docs.dask.org/en/latest/dataframe-api.html)
* [DataFrame examples](https://examples.dask.org/dataframe.html)
* [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)

**Main Take-aways**

1.  Dask DataFrame should be familiar to Pandas users
2.  The partitioning of dataframes is important for efficient execution

In [8]:
%pip install h5py scikit-image graphviz ipycytoscape 'dask[complete]'

Requirement already satisfied: h5py in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (3.10.0)
Requirement already satisfied: scikit-image in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (0.22.0)
Requirement already satisfied: graphviz in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (0.20.1)
Requirement already satisfied: ipycytoscape in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (1.3.3)
Requirement already satisfied: dask[complete] in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (2023.11.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from h5py) (1.25.2)
Requirement already satisfied: scipy>=1.8 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (1.11.1)
Requirement already satisfied: networkx>=2.8 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (3.2.1)
Requirement already satisfied: pillow>=9.0.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (10.0.0)
Requirement already satisfied: imageio>=2.27 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (2.32.0)
Requirement already satisfied: tifffile>=2022.8.12 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (2023.9.26)
Requirement already satisfied: packaging>=21 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (23.1)
Requirement already satisfied: lazy_loader>=0.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from scikit-image) (0.3)
Requirement already satisfied: ipywidgets>=7.6.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipycytoscape) (8.1.1)
Requirement already satisfied: spectate>=1.0.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipycytoscape) (1.0.1)
Requirement already satisfied: click>=8.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (8.1.6)
Requirement already satisfied: cloudpickle>=1.5.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (2023.10.0)
Requirement already satisfied: partd>=1.2.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (6.8.0)
Requirement already satisfied: pyarrow>=7.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (14.0.1)
Requirement already satisfied: pyarrow-hotfix in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (0.5)
Requirement already satisfied: lz4>=4.3.2 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (4.3.2)
Requirement already satisfied: zipp>=0.5 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from importlib-metadata>=4.13.0->dask[complete]) (3.17.0)
Requirement already satisfied: comm>=0.1.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipywidgets>=7.6.0->ipycytoscape) (0.1.4)
Requirement already satisfied: ipython>=6.1.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipywidgets>=7.6.0->ipycytoscape) (8.14.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipywidgets>=7.6.0->ipycytoscape) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.9 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipywidgets>=7.6.0->ipycytoscape) (4.0.9)
Requirement already satisfied: jupyterlab-widgets~=3.0.9 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipywidgets>=7.6.0->ipycytoscape) (3.0.9)
Requirement already satisfied: locket in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from partd>=1.2.0->dask[complete]) (1.0.0)
Requirement already satisfied: pandas>=1.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (2.0.3)
Requirement already satisfied: bokeh>=2.4.2 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (3.3.1)
Requirement already satisfied: jinja2>=2.10.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (3.1.2)
Requirement already satisfied: distributed==2023.11.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from dask[complete]) (2023.11.0)
Requirement already satisfied: msgpack>=1.0.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (1.0.7)
Requirement already satisfied: psutil>=5.7.2 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (3.0.0)
Requirement already satisfied: tornado>=6.0.4 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (6.3.3)
Requirement already satisfied: urllib3>=1.24.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (2.0.4)
Requirement already satisfied: zict>=3.0.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from distributed==2023.11.0->dask[complete]) (3.0.0)
Requirement already satisfied: contourpy>=1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from bokeh>=2.4.2->dask[complete]) (1.1.0)
Requirement already satisfied: xyzservices>=2021.09.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from bokeh>=2.4.2->dask[complete]) (2023.10.1)
Requirement already satisfied: backcall in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.2.0)
Requirement already satisfied: decorator in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.19.0)
Requirement already satisfied: matplotlib-inline in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.1.6)
Requirement already satisfied: pickleshare in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (2.16.1)
Requirement already satisfied: stack-data in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (4.8.0)
Requirement already satisfied: appnope in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from jinja2>=2.10.3->dask[complete]) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from pandas>=1.3->dask[complete]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from pandas>=1.3->dask[complete]) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from pandas>=1.3->dask[complete]) (2023.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.7.0)
Requirement already satisfied: wcwidth in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.2.6)
Requirement already satisfied: six>=1.5 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.3->dask[complete]) (1.16.0)
Requirement already satisfied: executing>=1.2.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (2.2.1)
Requirement already satisfied: pure-eval in /Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.6.0->ipycytoscape) (0.2.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Create data

In [9]:
%run prep.py -d flights

## Setup

In [10]:
from dask.distributed import Client

client = Client(n_workers=4)

/Users/luyan/Documents/UM/23Fall/si618/.venv/lib/python3.11/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 63872 instead
  warnings.warn(

We create artifical data.

In [11]:
from prep import accounts_csvs
accounts_csvs()

import os
import dask
filename = os.path.join('data', 'accounts.*.csv')
filename

'data/accounts.*.csv'

Filename includes a glob pattern `*`, so all files in the path matching that pattern will be read into the same Dask DataFrame.

In [12]:
import dask.dataframe as dd
df = dd.read_csv(filename)
df.head()

    id     names  amount
0   22     Alice     245
1  470     Laura    3953
2  129    George    3642
3  360   Charlie     568
4  359  Patricia     374

In [13]:
# load and count number of rows
len(df)

3000000

What happened here?
- Dask investigated the input path and found that there are three matching files 
- a set of jobs was intelligently created for each chunk - one per original CSV file in this case
- each file was loaded into a pandas dataframe, had `len()` applied to it
- the subtotals were combined to give you the final grand total.

### Real Data

Lets try this with an extract of flights in the USA across several years. This data is specific to flights out of the three airports in the New York City area.

In [14]:
df = dd.read_csv(os.path.join('data', 'nycflights', '*.csv'),
                 parse_dates={'Date': [0, 1, 2]})

Notice that the respresentation of the dataframe object contains no data - Dask has just done enough to read the start of the first file, and infer the column names and dtypes.

In [15]:
df

Dask DataFrame Structure:
                          Date DayOfWeek  DepTime CRSDepTime  ArrTime CRSArrTime UniqueCarrier FlightNum  TailNum ActualElapsedTime CRSElapsedTime  AirTime ArrDelay DepDelay  Origin    Dest Distance   TaxiIn  TaxiOut Cancelled Diverted
npartitions=10
                datetime64[ns]     int64  float64      int64  float64      int64        string     int64  float64           float64          int64  float64  float64  float64  string  string  float64  float64  float64     int64    int64
                           ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
...                        ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
                           ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
                           ...       ...      ...        ...      ...        ...           ...       ...      ...               ...            ...      ...      ...      ...     ...     ...      ...      ...      ...       ...      ...
Dask Name: to_pyarrow_string, 2 graph layers

We can view the start and end of the data

In [16]:
df.head()

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,1990-01-01,1,1621.0,1540,1747.0,1701,US,33,NaN,86.0,...,NaN,46.0,41.0,EWR,PIT,319.0,NaN,NaN,0,0
1,1990-01-02,2,1547.0,1540,1700.0,1701,US,33,NaN,73.0,...,NaN,-1.0,7.0,EWR,PIT,319.0,NaN,NaN,0,0
2,1990-01-03,3,1546.0,1540,1710.0,1701,US,33,NaN,84.0,...,NaN,9.0,6.0,EWR,PIT,319.0,NaN,NaN,0,0
3,1990-01-04,4,1542.0,1540,1710.0,1701,US,33,NaN,88.0,...,NaN,9.0,2.0,EWR,PIT,319.0,NaN,NaN,0,0
4,1990-01-05,5,1549.0,1540,1706.0,1701,US,33,NaN,77.0,...,NaN,5.0,9.0,EWR,PIT,319.0,NaN,NaN,0,0

In [17]:
df.tail()  # this fails

2023-11-16 14:54:36,813 - distributed.worker - WARNING - Compute Failed
Key:       ('to_pyarrow_string-7681f2f9a2baefbbf167251ca16e3d52', 9)
Function:  execute_task
args:      ((subgraph_callable-668d46e8-0cbc-41a9-8d1a-219aa035acba, [(<function read_block_from_file at 0x114b7aa20>, <OpenFile '/Users/luyan/Documents/UM/23Fall/si618/inclass/day_12_distributed_computing/SI_618_Day_12_dask/data/nycflights/1999.csv'>, 0, 25952466, b'\n'), None, True, True]))
kwargs:    {}
Exception: 'ValueError(\'Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.\\n\\n+----------------+---------+----------+\\n| Column         | Found   | Expected |\\n+----------------+---------+----------+\\n| CRSElapsedTime | float64 | int64    |\\n| TailNum        | object  | float64  |\\n+----------------+---------+----------+\\n\\nThe following columns also raised exceptions on conversion:\\n\\n- TailNum\\n  ValueError("could not convert string to float: \\\'N54711\\\'")\\n\\nUsually this is due to dask\\\'s dtype inference failing, and\\n*may* be fixed by specifying dtypes manually by adding:\\n\\ndtype={\\\'CRSElapsedTime\\\': \\\'float64\\\',\\n       \\\'TailNum\\\': \\\'object\\\'}\\n\\nto the call to `read_csv`/`read_table`.\')'

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+----------------+---------+----------+
| Column         | Found   | Expected |
+----------------+---------+----------+
| CRSElapsedTime | float64 | int64    |
| TailNum        | object  | float64  |
+----------------+---------+----------+

The following columns also raised exceptions on conversion:

- TailNum
  ValueError("could not convert string to float: 'N54711'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'CRSElapsedTime': 'float64',
       'TailNum': 'object'}

to the call to `read_csv`/`read_table`.

### What just happened?

Unlike `pandas.read_csv` which reads in the entire file before inferring datatypes, `dask.dataframe.read_csv` only reads in a sample from the beginning of the file (or first file if using a glob). These inferred datatypes are then enforced when reading all partitions.

In this case, the datatypes inferred in the sample are incorrect. The first `n` rows have no value for `CRSElapsedTime` (which pandas infers as a `float`), and later on turn out to be strings (`object` dtype). Note that Dask gives an informative error message about the mismatch. When this happens you have a few options:

- Specify dtypes directly using the `dtype` keyword. This is the recommended solution, as it's the least error prone (better to be explicit than implicit) and also the most performant.
- Increase the size of the `sample` keyword (in bytes)
- Use `assume_missing` to make `dask` assume that columns inferred to be `int` (which don't allow missing values) are actually floats (which do allow missing values). In our particular case this doesn't apply.

In our case we'll use the first option and directly specify the `dtypes` of the offending columns.

In [18]:
df = dd.read_csv(os.path.join('data', 'nycflights', '*.csv'),
                 parse_dates={'Date': [0, 1, 2]},
                 dtype={'TailNum': str,
                        'CRSElapsedTime': float,
                        'Cancelled': bool})

In [19]:
df.tail()  # now works

,Date,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
269176,1999-12-27,1,1645.0,1645,1830.0,1901,UA,1753,N516UA,225.0,...,205.0,-31.0,0.0,LGA,DEN,1619.0,7.0,13.0,False,0
269177,1999-12-28,2,1726.0,1645,1928.0,1901,UA,1753,N504UA,242.0,...,214.0,27.0,41.0,LGA,DEN,1619.0,5.0,23.0,False,0
269178,1999-12-29,3,1646.0,1645,1846.0,1901,UA,1753,N592UA,240.0,...,220.0,-15.0,1.0,LGA,DEN,1619.0,5.0,15.0,False,0
269179,1999-12-30,4,1651.0,1645,1908.0,1901,UA,1753,N575UA,257.0,...,233.0,7.0,6.0,LGA,DEN,1619.0,5.0,19.0,False,0
269180,1999-12-31,5,1642.0,1645,1851.0,1901,UA,1753,N539UA,249.0,...,232.0,-10.0,-3.0,LGA,DEN,1619.0,6.0,11.0,False,0

## Computations with `dask.dataframe`

We compute the maximum of the `DepDelay` column. With just pandas, we would loop over each file to find the individual maximums, then find the final maximum over all the individual maximums

```python
maxes = []
for fn in filenames:
    df = pd.read_csv(fn)
    maxes.append(df.DepDelay.max())
    
final_max = max(maxes)
```

We could wrap that `pd.read_csv` with `dask.delayed` so that it runs in parallel. Regardless, we're still having to think about loops, intermediate results (one per file) and the final reduction (`max` of the intermediate maxes). This is just noise around the real task, which pandas solves with

```python
df = pd.read_csv(filename, dtype=dtype)
df.DepDelay.max()
```

`dask.dataframe` lets us write pandas-like code, that operates on larger than memory datasets in parallel.

In [20]:
df.columns

Index(['Date', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest',
       'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted'],
      dtype='object')

In [21]:
df.DepDelay.max()

dd.Scalar<series-..., dtype=float64>

In [22]:
df.DepDelay.max().compute()

1435.0

In [23]:
len(df)

2611892

This writes the delayed computation for us and then runs it.  

Some things to note:

1.  As with `dask.delayed`, we need to call `.compute()` when we're done.  Up until this point everything is lazy.
2.  Dask will delete intermediate results (like the full pandas dataframe for each file) as soon as possible.
    -  This lets us handle datasets that are larger than memory
    -  This means that repeated computations will have to load all of the data in each time (run the code above again, is it faster or slower than you would expect?)
    
As with `Delayed` objects, you can view the underlying task graph using the `.visualize` method:

## Exercises

In this section we do a few `dask.dataframe` computations. If you are comfortable with Pandas then these should be familiar. You will have to think about when to call `compute`.

### 1.) How many rows are in our dataset?

If you aren't familiar with pandas, how would you check how many records are in a list of tuples?

In [42]:
# insert your code here
len(df)

2611892

### 2.) In total, how many non-canceled flights were taken?

With pandas, you would use [boolean indexing](https://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing).

In [44]:
# insert your code here
len(df[df['Cancelled'] == True])

70931

### 3.) In total, how many non-cancelled flights were taken from each airport?

*Hint*: use [`df.groupby`](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

In [46]:
# insert your code here
df['Origin'].value_counts().compute()

Origin
EWR    1174131
LGA    1003420
JFK     434341
Name: count, dtype: int64[pyarrow]

In [47]:
df[~df['Cancelled']].Origin.value_counts().compute()

Origin
EWR    1139451
LGA     974267
JFK     427243
Name: count, dtype: int64[pyarrow]

### 4.) What was the average departure delay from each airport?

Note, this is the same computation you did in the previous notebook (is this approach faster or slower?)

In [49]:
df.columns

Index(['Date', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest',
       'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted'],
      dtype='object')

In [48]:
# insert your code here
df.groupby('Origin').DepDelay.mean().compute()

Origin
EWR    10.295469
JFK    10.351299
LGA     7.431142
Name: DepDelay, dtype: float64

### 5.) What day of the week has the worst average departure delay?

In [50]:
# insert your code here
df.groupby('DayOfWeek').DepDelay.mean().compute()

DayOfWeek
1     8.096565
2     8.149109
3     9.141912
4    10.538275
5    11.476687
6     7.824071
7     8.994296
Name: DepDelay, dtype: float64

## Sharing Intermediate Results

When computing all of the above, we sometimes did the same operation more than once. For most operations, `dask.dataframe` hashes the arguments, allowing duplicate computations to be shared, and only computed once.

For example, lets compute the mean and standard deviation for departure delay of all non-canceled flights. Since dask operations are lazy, those values aren't the final results yet. They're just the recipe required to get the result.

If we compute them with two calls to compute, there is no sharing of intermediate computations.

In [30]:
non_cancelled = df[~df.Cancelled]
mean_delay = non_cancelled.DepDelay.mean()
std_delay = non_cancelled.DepDelay.std()

In [31]:
std_delay

dd.Scalar<series-..., dtype=float64>

In [32]:
%%time

mean_delay_res = mean_delay.compute()
std_delay_res = std_delay.compute()

CPU times: user 1.16 s, sys: 412 ms, total: 1.57 s
Wall time: 7.22 s

But let's try by passing both to a single `compute` call.

In [33]:
%%time

mean_delay_res, std_delay_res = dask.compute(mean_delay, std_delay)

CPU times: user 497 ms, sys: 157 ms, total: 654 ms
Wall time: 2.99 s

Using `dask.compute` takes roughly 1/2 the time. This is because the task graphs for both results are merged when calling `dask.compute`, allowing shared operations to only be done once instead of twice. In particular, using `dask.compute` only does the following once:

- the calls to `read_csv`
- the filter (`df[~df.Cancelled]`)
- some of the necessary reductions (`sum`, `count`)

To see what the merged task graphs between multiple results look like (and what's shared), you can use the `dask.visualize` function (we might want to use `filename='graph.pdf'` to save the graph to disk so that we can zoom in more easily):

## How does this compare to Pandas?

Pandas is more mature and fully featured than `dask.dataframe`.  If your data fits in memory then you should use Pandas.  The `dask.dataframe` module gives you a limited `pandas` experience when you operate on datasets that don't fit comfortably in memory.

During this tutorial we provide a small dataset consisting of a few CSV files.  This dataset is 45MB on disk that expands to about 400MB in memory. This dataset is small enough that you would normally use Pandas.

We've chosen this size so that exercises finish quickly.  Dask.dataframe only really becomes meaningful for problems significantly larger than this, when Pandas breaks with the dreaded 

    MemoryError:  ...
    
Furthermore, the distributed scheduler allows the same dataframe expressions to be executed across a cluster. To enable massive "big data" processing, one could execute data ingestion functions such as `read_csv`, where the data is held on storage accessible to every worker node (e.g., amazon's S3), and because most operations begin by selecting only some columns, transforming and filtering the data, only relatively small amounts of data need to be communicated between the machines.

Dask.dataframe operations use `pandas` operations internally.  Generally they run at about the same speed except in the following two cases:

1.  Dask introduces a bit of overhead, around 1ms per task.  This is usually negligible.
2.  When Pandas releases the GIL `dask.dataframe` can call several pandas operations in parallel within a process, increasing speed somewhat proportional to the number of cores. For operations which don't release the GIL, multiple processes would be needed to get the same speedup.

## Dask DataFrame Data Model

For the most part, a Dask DataFrame feels like a pandas DataFrame.
So far, the biggest difference we've seen is that Dask operations are lazy; they build up a task graph instead of executing immediately (more details coming in [Schedulers](05_distributed.ipynb)).
This lets Dask do operations in parallel and out of core.

In [Dask Arrays](03_array.ipynb), we saw that a `dask.array` was composed of many NumPy arrays, chunked along one or more dimensions.
It's similar for `dask.dataframe`: a Dask DataFrame is composed of many pandas DataFrames. For `dask.dataframe` the chunking happens only along the index.

<img src="http://dask.pydata.org/en/latest/_images/dask-dataframe.svg" width="30%">

We call each chunk a *partition*, and the upper / lower bounds are *divisions*.
Dask *can* store information about the divisions. For now, partitions come up when you write custom functions to apply to Dask DataFrames

## Converting `CRSDepTime` to a timestamp

This dataset stores timestamps as `HHMM`, which are read in as integers in `read_csv`:

In [34]:
crs_dep_time = df.CRSDepTime.head(10)
crs_dep_time

0    1540
1    1540
2    1540
3    1540
4    1540
5    1540
6    1540
7    1540
8    1540
9    1540
Name: CRSDepTime, dtype: int64

To convert these to timestamps of scheduled departure time, we need to convert these integers into `pd.Timedelta` objects, and then combine them with the `Date` column.

In pandas we'd do this using the `pd.to_timedelta` function, and a bit of arithmetic:

In [35]:
import pandas as pd

# Get the first 10 dates to complement our `crs_dep_time`
date = df.Date.head(10)

# Get hours as an integer, convert to a timedelta
hours = crs_dep_time // 100
hours_timedelta = pd.to_timedelta(hours, unit='h')

# Get minutes as an integer, convert to a timedelta
minutes = crs_dep_time % 100
minutes_timedelta = pd.to_timedelta(minutes, unit='m')

# Apply the timedeltas to offset the dates by the departure time
departure_timestamp = date + hours_timedelta + minutes_timedelta
departure_timestamp

0   1990-01-01 15:40:00
1   1990-01-02 15:40:00
2   1990-01-03 15:40:00
3   1990-01-04 15:40:00
4   1990-01-05 15:40:00
5   1990-01-06 15:40:00
6   1990-01-07 15:40:00
7   1990-01-08 15:40:00
8   1990-01-09 15:40:00
9   1990-01-10 15:40:00
dtype: datetime64[ns]

### Custom code and Dask Dataframe

We could swap out `pd.to_timedelta` for `dd.to_timedelta` and do the same operations on the entire dask DataFrame. But let's say that Dask hadn't implemented a `dd.to_timedelta` that works on Dask DataFrames. What would you do then?

`dask.dataframe` provides a few methods to make applying custom functions to Dask DataFrames easier:

- [`map_partitions`](http://dask.pydata.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_partitions)
- [`map_overlap`](http://dask.pydata.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_overlap)
- [`reduction`](http://dask.pydata.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.reduction)

Here we'll just be discussing `map_partitions`, which we can use to implement `to_timedelta` on our own:

In [36]:
# Look at the docs for `map_partitions`

help(df.CRSDepTime.map_partitions)

Help on method map_partitions in module dask.dataframe.core:

map_partitions(func, *args, **kwargs) method of dask.dataframe.core.Series instance
    Apply Python function on each DataFrame partition.

    Note that the index and divisions are assumed to remain unchanged.

    Parameters
    ----------
    func : function
        The function applied to each partition. If this function accepts
        the special ``partition_info`` keyword argument, it will receive
        information on the partition's relative location within the
        dataframe.
    args, kwargs :
        Positional and keyword arguments to pass to the function.
        Positional arguments are computed on a per-partition basis, while
        keyword arguments are shared across all partitions. The partition
        itself will be the first positional argument, with all other
        arguments passed *after*. Arguments can be ``Scalar``, ``Delayed``,
        or regular Python objects. DataFrame-like args (both dask and
        pandas) will be repartitioned to align (if necessary) before
        applying the function; see ``align_dataframes`` to control this
        behavior.
    enforce_metadata : bool, default True
        Whether to enforce at runtime that the structure of the DataFrame
        produced by ``func`` actually matches the structure of ``meta``.
        This will rename and reorder columns for each partition,
        and will raise an error if this doesn't work,
        but it won't raise if dtypes don't match.
    transform_divisions : bool, default True
        Whether to apply the function onto the divisions and apply those
        transformed divisions to the output.
    align_dataframes : bool, default True
        Whether to repartition DataFrame- or Series-like args
        (both dask and pandas) so their divisions align before applying
        the function. This requires all inputs to have known divisions.
        Single-partition inputs will be split into multiple partitions.

        If False, all inputs must have either the same number of partitions
        or a single partition. Single-partition inputs will be broadcast to
        every partition of multi-partition inputs.
    meta : pd.DataFrame, pd.Series, dict, iterable, tuple, optional
        An empty ``pd.DataFrame`` or ``pd.Series`` that matches the dtypes
        and column names of the output. This metadata is necessary for
        many algorithms in dask dataframe to work.  For ease of use, some
        alternative inputs are also available. Instead of a ``DataFrame``,
        a ``dict`` of ``{name: dtype}`` or iterable of ``(name, dtype)``
        can be provided (note that the order of the names should match the
        order of the columns). Instead of a series, a tuple of ``(name,
        dtype)`` can be used. If not provided, dask will try to infer the
        metadata. This may lead to unexpected results, so providing
        ``meta`` is recommended. For more information, see
        ``dask.dataframe.utils.make_meta``.

    Examples
    --------
    Given a DataFrame, Series, or Index, such as:

    >>> import pandas as pd
    >>> import dask.dataframe as dd
    >>> df = pd.DataFrame({'x': [1, 2, 3, 4, 5],
    ...                    'y': [1., 2., 3., 4., 5.]})
    >>> ddf = dd.from_pandas(df, npartitions=2)

    One can use ``map_partitions`` to apply a function on each partition.
    Extra arguments and keywords can optionally be provided, and will be
    passed to the function after the partition.

    Here we apply a function with arguments and keywords to a DataFrame,
    resulting in a Series:

    >>> def myadd(df, a, b=1):
    ...     return df.x + df.y + a + b
    >>> res = ddf.map_partitions(myadd, 1, b=2)
    >>> res.dtype
    dtype('float64')

    Here we apply a function to a Series resulting in a Series:

    >>> res = ddf.x.map_partitions(lambda x: len(x)) # ddf.x is a Dask Series Structure
    >>> res.dtype
    dtype('int64')

    By default, dask tries to infer the output metadata by running your
    provided function on some fake data. This works well in many cases, but
    can sometimes be expensive, or even fail. To avoid this, you can
    manually specify the output metadata with the ``meta`` keyword. This
    can be specified in many forms, for more information see
    ``dask.dataframe.utils.make_meta``.

    Here we specify the output is a Series with no name, and dtype
    ``float64``:

    >>> res = ddf.map_partitions(myadd, 1, b=2, meta=(None, 'f8'))

    Here we map a function that takes in a DataFrame, and returns a
    DataFrame with a new column:

    >>> res = ddf.map_partitions(lambda df: df.assign(z=df.x * df.y))
    >>> res.dtypes
    x      int64
    y    float64
    z    float64
    dtype: object

    As before, the output metadata can also be specified manually. This
    time we pass in a ``dict``, as the output is a DataFrame:

    >>> res = ddf.map_partitions(lambda df: df.assign(z=df.x * df.y),
    ...                          meta={'x': 'i8', 'y': 'f8', 'z': 'f8'})

    In the case where the metadata doesn't change, you can also pass in
    the object itself directly:

    >>> res = ddf.map_partitions(lambda df: df.head(), meta=ddf)

    Also note that the index and divisions are assumed to remain unchanged.
    If the function you're mapping changes the index/divisions, you'll need
    to clear them afterwards:

    >>> ddf.map_partitions(func).clear_divisions()  # doctest: +SKIP

    Your map function gets information about where it is in the dataframe by
    accepting a special ``partition_info`` keyword argument.

    >>> def func(partition, partition_info=None):
    ...     pass

    This will receive the following information:

    >>> partition_info  # doctest: +SKIP
    {'number': 1, 'division': 3}

    For each argument and keyword arguments that are dask dataframes you will
    receive the number (n) which represents the nth partition of the dataframe
    and the division (the first index value in the partition). If divisions
    are not known (for instance if the index is not sorted) then you will get
    None as the division.

The basic idea is to apply a function that operates on a DataFrame to each partition.
In this case, we'll apply `pd.to_timedelta`.

In [37]:
hours = df.CRSDepTime // 100
# hours_timedelta = pd.to_timedelta(hours, unit='h')
hours_timedelta = hours.map_partitions(pd.to_timedelta, unit='h')

minutes = df.CRSDepTime % 100
# minutes_timedelta = pd.to_timedelta(minutes, unit='m')
minutes_timedelta = minutes.map_partitions(pd.to_timedelta, unit='m')

departure_timestamp = df.Date + hours_timedelta + minutes_timedelta

In [38]:
departure_timestamp

Dask Series Structure:
npartitions=10
    datetime64[ns]
               ...
         ...
               ...
               ...
dtype: datetime64[ns]
Dask Name: add, 10 graph layers

In [39]:
departure_timestamp.head()

0   1990-01-01 15:40:00
1   1990-01-02 15:40:00
2   1990-01-03 15:40:00
3   1990-01-04 15:40:00
4   1990-01-05 15:40:00
dtype: datetime64[ns]

### Exercise: Rewrite above to use a single call to `map_partitions`

This will be slightly more efficient than two separate calls, as it reduces the number of tasks in the graph.

In [40]:
def compute_departure_timestamp(df):
    pass  # TODO: implement this

In [51]:
# departure_timestamp = df.map_partitions(compute_departure_timestamp)

# departure_timestamp.head()

## Limitations

### What doesn't work?

Dask.dataframe only covers a small but well-used portion of the Pandas API.
This limitation is for two reasons:

1.  The Pandas API is *huge*
2.  Some operations are genuinely hard to do in parallel (e.g. sort)

Additionally, some important operations like ``set_index`` work, but are slower
than in Pandas because they include substantial shuffling of data, and may write out to disk.

## Learn More


* [DataFrame documentation](https://docs.dask.org/en/latest/dataframe.html)
* [DataFrame screencast](https://youtu.be/AT2XtFehFSQ)
* [DataFrame API](https://docs.dask.org/en/latest/dataframe-api.html)
* [DataFrame examples](https://examples.dask.org/dataframe.html)
* [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)

## Accessing scikit-learn from dask

Let's load a (fake) dataset:

In [52]:
import pandas as pd

import dask.dataframe as dd
import dask

In [53]:
pd.options.display.precision = 2
pd.options.display.max_rows = 10

In [54]:
ts = dask.datasets.timeseries()

In [55]:
ts

Dask DataFrame Structure:
                  name     id        x        y
npartitions=30
2000-01-01      string  int64  float64  float64
2000-01-02         ...    ...      ...      ...
...                ...    ...      ...      ...
2000-01-30         ...    ...      ...      ...
2000-01-31         ...    ...      ...      ...
Dask Name: to_pyarrow_string, 2 graph layers

In [56]:
ts.head()

                        name    id     x     y
timestamp
2000-01-01 00:00:00      Tim   940 -0.40  0.29
2000-01-01 00:00:01    Edith  1024 -0.42 -0.90
2000-01-01 00:00:02    Wendy   983  0.14 -0.03
2000-01-01 00:00:03  Norbert   969  0.15  0.07
2000-01-01 00:00:04    Frank  1011 -0.05  0.06

In [57]:
ts = ts.set_index('name')

In [58]:
ts

Dask DataFrame Structure:
                   id        x        y
npartitions=26
Alice           int64  float64  float64
Bob               ...      ...      ...
...               ...      ...      ...
Zelda             ...      ...      ...
Zelda             ...      ...      ...
Dask Name: sort_index, 8 graph layers

In [59]:
from sklearn.linear_model import LinearRegression


def train(partition):
    if not len(partition):
        return
    est = LinearRegression()
    est.fit(partition[["x"]].values, partition.y.values)
    return est

## Exercise:
Fit a linear regression that models `y` as a function of `x` *for each name* and create two new columns: one for the (x-)coefficient and one for the intercept

In [60]:
df = ts.map_partitions(train).compute()

In [61]:
df

0     LinearRegression()
1     LinearRegression()
2     LinearRegression()
3     LinearRegression()
4     LinearRegression()
             ...
21    LinearRegression()
22    LinearRegression()
23    LinearRegression()
24    LinearRegression()
25    LinearRegression()
Length: 26, dtype: object

In [62]:
df.apply(lambda x: x.coef_)

0      [-0.0010068405254295078]
1       [-0.003532664401981819]
2       [0.0024642055955763948]
3     [-0.00031300224828905083]
4         [0.00297219103686713]
                ...
21       [0.004276112265963434]
22     [-0.0024424058793617504]
23      [0.0027103196502247656]
24     [-0.0019166578413009638]
25    [-0.00021128634907650293]
Length: 26, dtype: object

In [63]:
df.apply(lambda x: x.intercept_)

0     1.84e-03
1     2.21e-03
2     2.77e-04
3    -3.55e-03
4     1.08e-03
        ...
21    1.85e-03
22    1.80e-03
23    2.47e-03
24   -3.09e-03
25   -1.89e-04
Length: 26, dtype: float64

In [64]:
ts['model'].compute()

KeyError: 'model'

## Run the next cell when you're all done (and not before!)

In [ ]:
client.shutdown()